Social_Media/workflow/workflow.json
{
  "name": "Discord-Triggered Cross-Platform Content Syndicator with AI Tone Adaptation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "originalContent",
              "value": "={{ $json.body.content || $json.content || '' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "hasImage",
              "value": "={{ !!$json.body.image }}",
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "imageUrl",
              "value": "={{ $json.body.image || '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "author",
              "value": "={{ $json.body.author || 'Rekt CEO' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5246c906-1ed8-47ed-932e-f018101f0eb1",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7808,
        4144
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a23963de-556a-4b36-bb74-15269e9f64e0",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -7584,
        4368
      ],
      "credentials": {
        "openAiApi": {
          "id": "ykrAHxokJwxThuu2",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedinPost\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Professional satirical corporate lesson version of the crypto tweet\"\n\t\t},\n\t\t\"instagramCaption\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Engaging caption for Instagram\"\n\t\t},\n\t\t\"instagramHashtags\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Array of 30 relevant hashtags\"\n\t\t}\n\t},\n\t\"required\": [\"linkedinPost\", \"instagramCaption\", \"instagramHashtags\"]\n}"
      },
      "id": "77f240a7-2a33-4a0c-8359-bee3d5cd5d66",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -7456,
        4368
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform this content for cross-platform posting:\n\nOriginal Content: {{ $json.originalContent }}\nAuthor: {{ $json.author }}\n\nProvide:\n1. A LinkedIn post that transforms this into a satirical corporate lesson\n2. An Instagram caption that is engaging and relatable\n3. Exactly 30 relevant hashtags for Instagram (return as array without # symbols)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a content transformation expert specializing in cross-platform social media adaptation. Your task is to transform crypto/degen content into platform-appropriate formats.\n\nFor LinkedIn:\n- Transform casual crypto tweets into satirical corporate lessons\n- Use professional tone with subtle humor\n- Frame failures as \"learning opportunities\" and \"risk management lessons\"\n- Example: \"I got rugged\" becomes \"Here are 3 lessons on risk management I learned today as a CEO\"\n- Keep it between 150-300 words\n- Add relevant business/leadership angle\n\nFor Instagram:\n- Create engaging, relatable caption\n- Generate exactly 30 relevant hashtags based on the content and crypto/business context\n- Mix popular and niche hashtags\n- Include crypto, business, and lifestyle hashtags\n- Format hashtags as an array of strings without the # symbol"
        }
      },
      "id": "f552eb6f-171c-43ba-8848-83deb9157597",
      "name": "Transformation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -7584,
        4144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "postContent",
              "value": "={{ $json.output.linkedinPost }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "imageUrl",
              "value": "={{ $('Workflow Configuration').item.json.imageUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e30453f1-bfe1-49dc-9a7d-9dbad4a8852f",
      "name": "Prepare LinkedIn Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7232,
        4048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "caption",
              "value": "=={{ $json.output.instagramCaption.substring(0, 1500) + '\\\\n\\\\n#crypto #investing #business #startup #cryptoLessons' }}\n",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "imageUrl",
              "value": "={{ $('Workflow Configuration').item.json.imageUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9a779264-8494-4d0a-afae-5068551d81b5",
      "name": "Prepare Instagram Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7232,
        4288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.imageUrl }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2e2570f1-0de7-491c-b9dc-e9d8c550bd68",
      "name": "Check If Image Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7008,
        4288
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1080,
        "height": 1350,
        "options": {
          "format": "jpeg",
          "quality": 100
        }
      },
      "id": "c039ba46-e872-4e8c-afb2-688c67fdc681",
      "name": "Resize Image for Instagram",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -6784,
        4288
      ]
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "111832003",
        "text": "={{ $json.postContent }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "id": "d2a8c4d8-ac45-4464-b179-d9ff4014fff9",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -6512,
        4064
      ],
      "retryOnFail": false,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "bkBEQIcWx1pTfBYA",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-post-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "62b1c741-ee64-41c6-a35d-a0b8446be503",
      "name": "Discord Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -8032,
        4144
      ],
      "webhookId": "15a42ca4-72f1-4a25-b716-d50e47374379"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Content posted successfully to LinkedIn and Instagram\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3df09511-efc7-40fe-9f4f-ddca8f9c33a0",
      "name": "Respond to Discord",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -6192,
        4064
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').item.json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f4c7c805-cf43-4467-93a9-bc289d046693",
      "name": "Download Image for LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6768,
        3952
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.imageUrl }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "13276edb-ef67-4f9d-bdc6-31388ab68268",
      "name": "Check If LinkedIn Has Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7008,
        4048
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6896,
        4496
      ],
      "id": "3d5096f7-5b47-45f6-8d8d-76e10843f591",
      "name": "Download Image for Insta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "POST https://graph.facebook.com/v17.0/17917808082266540/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "{{node[\"Post to Instagram\"].json.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6320,
        4352
      ],
      "id": "e609e6dc-24a9-4273-9e51-95024907fb1a",
      "name": "Publish Instagram Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "hjNVmzAAZnXHQbHN",
          "name": "Facebook Graph account 6"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "POST https://graph.facebook.com/v17.0/17917808082266540/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "media_type",
              "value": "=IMAGE"
            },
            {
              "name": "image_url",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6512,
        4544
      ],
      "id": "721454f1-d21a-42c6-a6db-682eab1dde1b",
      "name": "Create Instagram Container",
      "credentials": {
        "facebookGraphAppApi": {
          "id": "i7VvRwanpHRGMZnt",
          "name": "Facebook Graph (App) account"
        },
        "facebookGraphApi": {
          "id": "hjNVmzAAZnXHQbHN",
          "name": "Facebook Graph account 6"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v19.0",
        "node": "17841467996195833",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -6720,
        4544
      ],
      "id": "e814edbd-cde7-4913-a5d4-374ca7122ff0",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "hjNVmzAAZnXHQbHN",
          "name": "Facebook Graph account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Transformation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Transformation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Transformation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Transformation Agent": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Post": {
      "main": [
        [
          {
            "node": "Check If LinkedIn Has Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instagram Post": {
      "main": [
        [
          {
            "node": "Check If Image Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Image Exists": {
      "main": [
        [
          {
            "node": "Download Image for Insta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Image for Instagram": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Respond to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If LinkedIn Has Image": {
      "main": [
        [
          {
            "node": "Download Image for LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image for LinkedIn": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image for Insta": {
      "main": [
        [
          {
            "node": "Resize Image for Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Post": {
      "main": [
        [
          {
            "node": "Respond to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Container": {
      "main": [
        [
          {
            "node": "Publish Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Create Instagram Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8d90618b-784e-443a-8a41-4b3ade192b7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea99974446160720b5235bb638d6b45daa4357c0f2a0b3d0a6a447f689b8a8e8"
  },
  "id": "Ol2Mc7v2dAR4itBdhJQKq",
  "tags": []
}
